{description, "GNU Autotools skeleton for building C/C++ Erlang Port Driver"}.
{variables, [{name, "my_port", "Name of the Erlang Port Driver"}]}.

{template, "configure.ac", "configure.ac"}.
{template, "Makefile.am", "Makefile.am"}.

{dir, "c_src"}.
{template, "c_src_Makefile_portdriver.am", "c_src/Makefile.am"}.
{template, "erlang_portdriver.c", "c_src/{{name}}.c"}.